USE [master]
GO
/****** Object:  Database [SANDBOX]    Script Date: 03/05/2019 17:35:23 ******/
CREATE DATABASE [SANDBOX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SANDBOX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SANDBOX.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SANDBOX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SANDBOX_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SANDBOX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SANDBOX]
GO
/****** Object:  User [siewhooi]    Script Date: 03/05/2019 17:35:23 ******/
CREATE USER [siewhooi] FOR LOGIN [siewhooi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [siewhooi]
GO
/****** Object:  UserDefinedFunction [dbo].[funcAdd]    Script Date: 03/05/2019 17:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funcAdd]
(
	@Param1 INTEGER,
	@Param2 INTEGER
)
RETURNS INTEGER
AS
BEGIN
	DECLARE @Sum INTEGER
	SET @Sum = @Param1 + @Param2
	RETURN @Sum

END

GO
/****** Object:  Table [dbo].[PRESIDENTS]    Script Date: 03/05/2019 17:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESIDENTS](
	[ID] [int] NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[AGE] [int] NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[MultiParams]    Script Date: 03/05/2019 17:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MultiParams]
	 @Param1 INTEGER
	,@Param2 INTEGER OUTPUT
	,@Param3 INTEGER OUTPUT
	,@Param4 DATETIME OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	SET @Param2 = @Param1 + @Param1
	SET @Param3 = @Param1 + @Param1 + @Param1
	SET @Param4 = convert(datetime, '12/01/2019 13:01:02', 101)

	SELECT * FROM dbo.PRESIDENTS WHERE ID <= 5;
	SELECT * FROM dbo.PRESIDENTS WHERE ID >= 44;

	RETURN 42
END

GO
/****** Object:  StoredProcedure [dbo].[uspDouble]    Script Date: 03/05/2019 17:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDouble]
	@Param1 INTEGER OUTPUT
AS
BEGIN
	SET @Param1 = @Param1 + @Param1
END

GO
/****** Object:  StoredProcedure [dbo].[uspGetPresidents]    Script Date: 03/05/2019 17:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetPresidents]
AS
SELECT * FROM dbo.PRESIDENTS

GO
USE [master]
GO
