<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net452" />
  <package id="Synapse.Core.Signed" version="0.1.17135.0-beta" targetFramework="net452" />
  <package id="YamlDotNet.Signed" version="4.0.0" targetFramework="net451" />
</packages>